# Exploratory Analysis - Jordan
## Stats 131 Project

In [5]:
import pandas as pd

In [6]:
movies = pd.read_csv("/Users/jordan_uyeki/Documents/ucla/year4/spring2019/Stats131/Project/movie_metadata.csv")

In [7]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [8]:
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [9]:
movies.shape

(5043, 28)

In [10]:
#keeping only title, genre, and budget columns 
genres_budget = movies[['title_year', 'movie_title', 'genres', 'budget']]
genres_budget = genres_budget.dropna(axis = 0) #remove missing values
genres_budget.head()

,title_year,movie_title,genres,budget
0,2009.0,Avatar,Action|Adventure|Fantasy|Sci-Fi,237000000.0
1,2007.0,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,300000000.0
2,2015.0,Spectre,Action|Adventure|Thriller,245000000.0
3,2012.0,The Dark Knight Rises,Action|Thriller,250000000.0
5,2012.0,John Carter,Action|Adventure|Sci-Fi,263700000.0

In [11]:
genres_budget.shape

(4543, 4)

In [12]:
#only looking from after 1986
genres_budget = genres_budget.loc[genres_budget['title_year'] > 1986.0]
genres_budget.head()

,title_year,movie_title,genres,budget
0,2009.0,Avatar,Action|Adventure|Fantasy|Sci-Fi,237000000.0
1,2007.0,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,300000000.0
2,2015.0,Spectre,Action|Adventure|Thriller,245000000.0
3,2012.0,The Dark Knight Rises,Action|Thriller,250000000.0
5,2012.0,John Carter,Action|Adventure|Sci-Fi,263700000.0

In [13]:
genres_budget.shape

(4110, 4)

In [14]:
genres_budget.title_year.unique()

array([2009., 2007., 2015., 2012., 2010., 2016., 2006., 2008., 2013.,
       2011., 2014., 2005., 1997., 2004., 1999., 1995., 2003., 2001.,
       2002., 1998., 2000., 1990., 1991., 1994., 1996., 1993., 1992.,
       1989., 1988., 1987.])

In [15]:
#splitting genres string into a list
genres_budget['genres_breakdown'] = [item.split("|") for item in genres_budget.genres]
genres_budget.head()

,title_year,movie_title,genres,budget,genres_breakdown
0,2009.0,Avatar,Action|Adventure|Fantasy|Sci-Fi,237000000.0,"[Action, Adventure, Fantasy, Sci-Fi]"
1,2007.0,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,300000000.0,"[Action, Adventure, Fantasy]"
2,2015.0,Spectre,Action|Adventure|Thriller,245000000.0,"[Action, Adventure, Thriller]"
3,2012.0,The Dark Knight Rises,Action|Thriller,250000000.0,"[Action, Thriller]"
5,2012.0,John Carter,Action|Adventure|Sci-Fi,263700000.0,"[Action, Adventure, Sci-Fi]"

In [16]:
#number of genre categories each movie is in
genres_budget['genres_amt'] = [len(item) for item in genres_budget.genres_breakdown]
genres_budget.head()

,title_year,movie_title,genres,budget,genres_breakdown,genres_amt
0,2009.0,Avatar,Action|Adventure|Fantasy|Sci-Fi,237000000.0,"[Action, Adventure, Fantasy, Sci-Fi]",4
1,2007.0,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,300000000.0,"[Action, Adventure, Fantasy]",3
2,2015.0,Spectre,Action|Adventure|Thriller,245000000.0,"[Action, Adventure, Thriller]",3
3,2012.0,The Dark Knight Rises,Action|Thriller,250000000.0,"[Action, Thriller]",2
5,2012.0,John Carter,Action|Adventure|Sci-Fi,263700000.0,"[Action, Adventure, Sci-Fi]",3

In [17]:
#dividing movie budget among each of its genre categories
genres_budget['split_budget'] = genres_budget.budget / genres_budget.genres_amt
genres_budget.head()

,title_year,movie_title,genres,budget,genres_breakdown,genres_amt,split_budget
0,2009.0,Avatar,Action|Adventure|Fantasy|Sci-Fi,237000000.0,"[Action, Adventure, Fantasy, Sci-Fi]",4,5.925000e+07
1,2007.0,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,300000000.0,"[Action, Adventure, Fantasy]",3,1.000000e+08
2,2015.0,Spectre,Action|Adventure|Thriller,245000000.0,"[Action, Adventure, Thriller]",3,8.166667e+07
3,2012.0,The Dark Knight Rises,Action|Thriller,250000000.0,"[Action, Thriller]",2,1.250000e+08
5,2012.0,John Carter,Action|Adventure|Sci-Fi,263700000.0,"[Action, Adventure, Sci-Fi]",3,8.790000e+07

In [18]:
total_yr_budget = genres_budget.groupby('title_year')['budget'].sum()
total_yr_budget

title_year
1987.0    4.195500e+08
1988.0    1.520900e+09
1989.0    6.058600e+08
1990.0    9.392590e+08
1991.0    7.804730e+08
1992.0    8.574070e+08
1993.0    9.743000e+08
1994.0    1.537730e+09
1995.0    2.195925e+09
1996.0    3.098820e+09
1997.0    6.417845e+09
1998.0    4.976580e+09
1999.0    6.393012e+09
2000.0    5.763677e+09
2001.0    6.859090e+09
2002.0    6.584899e+09
2003.0    5.804549e+09
2004.0    9.232473e+09
2005.0    1.427576e+10
2006.0    2.001958e+10
2007.0    6.461617e+09
2008.0    8.402782e+09
2009.0    8.007830e+09
2010.0    8.958965e+09
2011.0    7.711151e+09
2012.0    8.146368e+09
2013.0    8.631557e+09
2014.0    8.089608e+09
2015.0    7.889754e+09
2016.0    5.267775e+09
Name: budget, dtype: float64

In [19]:
s = genres_budget.apply(lambda x: pd.Series(x['genres_breakdown']), axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genres_breakdown'
yearly_breakdown = genres_budget.drop('genres_breakdown', axis = 1).join(s)
yearly_breakdown['genres_breakdown'] = pd.Series(yearly_breakdown['genres_breakdown'], dtype = object)
yearly_breakdown.head()

,title_year,movie_title,genres,budget,genres_amt,split_budget,genres_breakdown
0,2009.0,Avatar,Action|Adventure|Fantasy|Sci-Fi,237000000.0,4,59250000.0,Action
0,2009.0,Avatar,Action|Adventure|Fantasy|Sci-Fi,237000000.0,4,59250000.0,Adventure
0,2009.0,Avatar,Action|Adventure|Fantasy|Sci-Fi,237000000.0,4,59250000.0,Fantasy
0,2009.0,Avatar,Action|Adventure|Fantasy|Sci-Fi,237000000.0,4,59250000.0,Sci-Fi
1,2007.0,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,300000000.0,3,100000000.0,Action

In [20]:
yearly_budgets = yearly_breakdown.groupby(['title_year', 'genres_breakdown'])['split_budget'].sum()
yearly_budgets = yearly_budgets.unstack('genres_breakdown')
yearly_budgets = yearly_budgets.fillna(0.0) 
yearly_budgets

genres_breakdown,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Musical,Mystery,News,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
title_year,,,,,,,,,,,,,,,,,,,,,
1987.0,4.810833e+07,4.606667e+07,3.833333e+05,2.275000e+07,5.144167e+07,2.990833e+07,0.000000e+00,5.232500e+07,1.230000e+07,1.128333e+07,...,3.833333e+05,0.000000e+00,0.0,9.966667e+06,2.356667e+07,0.0,0.000000e+00,6.145000e+07,3.250000e+06,0.000000e+00
1988.0,4.144083e+08,2.618333e+07,3.708333e+08,2.750000e+05,5.461667e+07,2.035000e+07,0.000000e+00,9.730833e+07,7.766667e+06,3.037500e+07,...,2.166667e+06,1.175000e+06,0.0,2.626667e+07,3.752667e+08,0.0,2.750000e+05,5.479167e+07,1.575000e+07,2.600000e+06
1989.0,9.052500e+07,9.582500e+07,0.000000e+00,6.166667e+06,7.819167e+07,3.850000e+07,1.600000e+05,7.152500e+07,2.500000e+06,2.550000e+07,...,0.000000e+00,4.750000e+06,0.0,1.383333e+07,4.406667e+07,0.0,8.833333e+06,7.724167e+07,1.816667e+07,0.000000e+00
1990.0,1.776667e+08,6.900000e+07,0.000000e+00,8.333333e+06,8.716513e+07,6.733333e+07,0.000000e+00,8.207500e+07,3.900680e+07,4.641667e+07,...,6.800000e+03,6.666667e+06,0.0,4.658180e+07,9.783333e+07,6800.0,2.000000e+07,8.141667e+07,0.000000e+00,2.133333e+07
1991.0,1.274333e+08,8.150000e+07,0.000000e+00,9.500000e+06,9.801150e+07,5.532500e+07,0.000000e+00,1.019615e+08,2.662500e+07,5.212500e+07,...,9.500000e+06,0.000000e+00,0.0,3.620833e+07,6.900000e+07,0.0,0.000000e+00,6.480833e+07,8.750000e+06,4.600000e+06
1992.0,1.484847e+08,3.133333e+07,4.000000e+06,1.991667e+07,8.973333e+07,4.387640e+07,0.000000e+00,1.529097e+08,1.490000e+07,4.240000e+07,...,6.400000e+06,4.166667e+06,0.0,7.707640e+07,3.506667e+07,0.0,1.583333e+07,7.254307e+07,8.000000e+06,7.200000e+06
1993.0,8.385000e+07,1.002417e+08,5.600000e+06,2.683333e+07,9.089167e+07,5.483333e+07,0.000000e+00,1.878167e+08,3.852500e+07,7.386667e+07,...,0.000000e+00,3.258333e+07,0.0,6.753333e+07,5.544167e+07,0.0,4.616667e+06,1.067667e+08,8.333333e+06,4.166667e+06
1994.0,1.739500e+08,8.968333e+07,9.000000e+06,1.960000e+07,2.860800e+08,1.582833e+08,2.333333e+05,2.588667e+08,7.116667e+07,8.033333e+07,...,9.000000e+06,2.508333e+07,0.0,6.100000e+07,2.025000e+07,0.0,2.333333e+05,2.038667e+08,7.500000e+06,2.010000e+07
1995.0,3.468333e+08,2.524571e+08,1.385714e+07,6.950000e+07,1.828083e+08,1.411333e+08,0.000000e+00,3.526155e+08,5.552381e+07,8.645000e+07,...,7.857143e+06,3.325000e+07,0.0,1.239988e+08,8.443333e+07,0.0,0.000000e+00,3.072500e+08,3.425000e+07,1.066667e+07
1996.0,3.360000e+08,2.716936e+08,3.442857e+07,2.377500e+07,3.605452e+08,1.848583e+08,0.000000e+00,5.869983e+08,9.477690e+07,8.026190e+07,...,4.666667e+07,7.170000e+07,0.0,1.941750e+08,1.480952e+08,0.0,6.842857e+07,4.620583e+08,2.520000e+07,0.000000e+00
1997.0,7.433833e+08,1.092183e+09,8.127000e+08,4.333333e+07,2.807792e+08,3.012833e+08,3.750000e+05,5.425358e+08,9.407333e+07,8.749500e+08,...,1.265000e+07,1.728217e+08,0.0,2.599167e+08,3.216050e+08,0.0,2.750000e+06,6.163383e+08,7.266667e+07,0.000000e+00
1998.0,4.474000e+08,2.772976e+08,8.496429e+07,4.093667e+07,5.486726e+08,2.331717e+08,0.000000e+00,1.140926e+09,2.312976e+08,2.492143e+08,...,3.847143e+08,1.246867e+08,0.0,3.038117e+08,2.285833e+08,0.0,3.083333e+07,4.102700e+08,6.433333e+07,3.623333e+07
1999.0,5.707083e+08,5.200500e+08,5.491667e+07,1.537500e+08,7.960343e+08,2.074000e+08,1.666667e+05,1.300548e+09,1.423167e+08,2.134833e+08,...,1.031667e+07,2.643333e+08,0.0,3.794783e+08,5.222500e+08,0.0,7.833333e+07,7.253667e+08,1.134917e+08,5.314167e+07
2000.0,5.108917e+08,4.811083e+08,1.257417e+08,8.125000e+07,8.992583e+08,2.868583e+08,1.500000e+06,9.102437e+08,2.496250e+08,2.634167e+08,...,1.026667e+07,1.312000e+08,0.0,4.482167e+08,2.907000e+08,0.0,7.891667e+07,6.096333e+08,5.850000e+07,4.608333e+07
2001.0,6.821600e+08,5.252833e+08,1.271833e+08,9.833333e+07,9.214900e+08,4.789100e+08,1.603000e+08,9.831933e+08,1.974333e+08,3.754167e+08,...,1.975000e+07,1.933333e+08,0.0,5.719500e+08,2.675300e+08,0.0,8.833333e+07,6.435267e+08,1.948333e+08,2.510000e+07
2002.0,7.023000e+08,5.398119e+08,1.182619e+08,7.466667e+07,7.871453e+08,5.221917e+08,5.583333e+06,1.010824e+09,2.522072e+08,2.599536e+08,...,2.861667e+07,2.890833e+08,0.0,3.815417e+08,3.389619e+08,0.0,6.815004e+07,7.681167e+08,1.649167e+08,2.000000e+07
2003.0,9.693926e+08,4.811974e+08,5.773810e+07,2.405844e+07,9.875970e+08,3.312226e+08,9.500109e+06,6.357074e+08,2.005524e+08,2.949464e+08,...,1.519167e+07,1.135750e+08,0.0,2.987607e+08,4.653750e+08,0.0,4.066667e+07,4.469476e+08,1.292450e+08,7.333333e+06
2004.0,1.008630e+09,1.098300e+09,5.073366e+08,1.385179e+08,1.115630e+09,3.695651e+08,2.442767e+06,8.621202e+08,7.053900e+08,2.812500e+08,...,3.433333e+07,2.664667e+08,0.0,7.149194e+08,6.084223e+08,0.0,7.235833e+07,9.348541e+08,1.028679e+08,1.088333e+08
2005.0,8.919167e+08,9.018500e+08,9.191667e+07,8.866667e+07,8.199550e+08,2.549552e+09,1.210177e+07,3.979597e+09,3.880333e+08,3.245625e+08,...,4.300000e+07,1.973292e+08,0.0,1.496545e+09,3.275000e+08,0.0,1.396251e+08,7.065862e+08,9.381267e+08,3.191667e+07
2006.0,6.781500e+08,7.946667e+08,2.304733e+08,8.825000e+07,3.916894e+09,3.463000e+08,2.141667e+06,4.756719e+09,3.823833e+08,3.867333e+08,...,3.695000e+07,2.319233e+08,0.0,4.675125e+08,3.283448e+09,0.0,1.325833e+08,7.891233e+08,1.020708e+08,9.000000e+06
2007.0,7.001821e+08,7.462321e+08,2.274738e+08,1.310250e+08,6.443250e+08,2.899833e+08,9.433333e+06,7.124750e+08,3.914405e+08,5.243988e+08,...,5.033333e+07,1.835667e+08,0.0,4.605527e+08,2.131155e+08,6500.0,9.445000e+07,5.853500e+08,7.085833e+07,2.753000e+07
2008.0,1.417060e+09,9.305431e+08,1.736500e+08,6.454167e+07,9.994583e+08,2.594250e+08,5.850000e+06,1.196860e+09,4.435833e+08,4.635000e+08,...,2.341667e+07,1.620417e+08,0.0,5.873333e+08,3.786083e+08,2000000.0,1.337667e+08,5.596833e+08,2.533931e+08,2.500000e+06
2009.0,7.734976e+08,9.052393e+08,2.925893e+08,1.095650e+08,9.887702e+08,2.505250e+08,5.056000e+07,1.013855e+09,5.150119e+08,5.372036e+08,...,5.433333e+07,3.134274e+08,0.0,4.480275e+08,7.181310e+08,0.0,4.212500e+07,5.983607e+08,4.366667e+07,0.000000e+00
2010.0,1.251783e+09,1.038909e+09,2.466429e+08,6.180000e+07,1.043365e+09,2.108167e+08,2.006667e+07,9.903417e+08,7.059762e+08,8.481429e+08,...,7.339286e+07,1.565997e+08,0.0,8.386842e+08,3.176867e+08,0.0,2.358333e+07,7.851330e+08,4.445000e+07,4.119167e+07
2011.0,1.068700e+09,9.128167e+08,2.976833e+08,7.773333e+07,1.092699e+09,2.876833e+08,1.601000e+07,8.065978e+08,4.566167e+08,4.342333e+08,...,7.022500e+07,2.649067e+08,0.0,3.861517e+08,4.881267e+08,0.0,1.021667e+08,5.976324e+08,8.410000e+07,2.750000e+07
2012.0,1.271742e+09,1.234983e+09,2.433033e+08,5.240917e+07,9.847950e+08,2.308408e+08,9.825000e+06,7.699861e+08,3.457200e+08,6.764875e+08,...,4.458333e+07,1.355458e+08,0.0,3.354755e+08,6.237250e+08,0.0,3.258333e+07,7.789383e+08,3.385626e+07,5.300000e+07
2013.0,1.091575e+09,1.359383e+09,2.916833e+08,1.504333e+08,8.738543e+08,3.624587e+08,8.070833e+06,9.011470e+08,4.763375e+08,8.886500e+08,...,4.337500e+07,1.230967e+08,375000.0,2.686610e+08,6.913583e+08,0.0,7.593333e+07,6.957384e+08,2.533333e+07,7.166667e+07
2014.0,1.317688e+09,1.324671e+09,2.257964e+08,1.264000e+08,7.283548e+08,3.133883e+08,3.819833e+06,9.834048e+08,3.412331e+08,5.223167e+08,...,6.718333e+07,1.604967e+08,456500.0,2.564567e+08,7.460964e+08,0.0,6.645833e+07,5.661950e+08,1.600333e+08,3.156667e+07
2015.0,1.013203e+09,1.251170e+09,2.402567e+08,1.735167e+08,7.827592e+08,3.342417e+08,6.250000e+06,8.077724e+08,5.126650e+08,4.437286e+08,...,6.166667e+06,1.286867e+08,0.0,2.756033e+08,7.632308e+08,0.0,1.181667e+08,7.161925e+08,1.360523e+07,5.430000e+07
2016.0,1.054770e+09,1.030685e+09,7.700000e+07,4.413333e+07,5.263167e+08,8.125000e+07,0.000000e+00,4.786850e+08,2.923333e+08,4.425017e+08,...,2.500000e+05,8.525000e+07,0.0,1.586333e+08,5.391000e+08,0.0,1.655000e+07,2.610467e+08,2.653500e+07,8.333333e+06